pyrogram==2.0.106
tgcrypto==1.2.5
aiohttp==3.9.1
python-dotenv==1.0.1
motor==3.6.1
aiofiles==24.1.0
dnspython==2.6.1
apscheduler==3.10.4
requests==2.32.3
psutil==5.9.8
pyromod==3.1.6
wheel
setuptools

pyrogram<=2.0.33
tgcrypto<=1.2.3
aiohttp<=3.8.1
python-dotenv<=0.20.0
motor
aiofiles
dnspython
apscheduler
requests
psutil
pyromod
